.banner > .container {
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;
}

.banner-img {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: #fff;
    padding-bottom: 30px;
}

.banner-cta button {
    display: inline-block;
}